<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IpaToolTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IpaToolTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ipatool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8AEA23B19DC480A008F2C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AEA24219DC482A008F2C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AEA24D19DC496B008F2C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AEA25B19DC5710008F2C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AEA26519DC5710008F2C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AEA27519DC59EA008F2C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D5B4BA19D9B94F00A779D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D5B4CF19D9B94F00A779D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
